
  p {
    color: rgb(35, 37, 36);
   }
 #navbar{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;}

 #navbar>li { float: left;}

 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;}

   #navbar>li a:hover:not(.active) {
 background-color: rgb(100, 95, 95);
 color: white;
 text-decoration:none;}
  
 .active {
 background-color: rgb(29, 87, 31);
 color: white;
 text-decoration:none;
 
   }

 .flex-container {
   display: flex;
   background-color: rgb(174, 175, 131);
   justify-content: space-around;}

 .flex-container > div {
   background-color: #3b754fe7;
    margin: 15px;
   padding: 20px;
   font-size: 15px;
   text-align: center;
  }
 .flex-container p {color:blanchedalmond}

 .flex-container2 {
  display: flex;
   background-color: rgb(174, 175, 131);
   justify-content: space-between;
align-items: center;}  


 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:rgb(174, 175, 131);
    padding: 10px;
  }

  .grid-item {
    color: blanchedalmond;
   background-color: #3b754fe7;
    border: 1px white(1, 1, 1, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
   }
   iframe{ 
    justify-self: center;}

   form {
    margin: auto;
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 15px;
    background-color: ghostwhite;
    border: 1px solid rgba(0, 0, 0, 0.397);}

    form input {
        padding: 10px; }
    
    form button {
       cursor: pointer;
       display: block;
       background: none;
       padding: 8px 15px;
       border: 1px solid black;
       border-radius: 2px;
        margin: 20px;
        font-size: 15px;
        font-weight: 600; }

     form button:hover {
      background-color: black;
     color: rgb(253, 253, 253); }
          
      




   footer {background-color: green;
     color: honeydew;
     padding: 20px;}


  @media (max-width: 400px) {
 .navbar {
  display: none;
  flex-wrap: wrap;
  justify-content:center;}
  .flex-container > div {
   background-color: #3b754fe7;}
  }